<div class="container-fluid table-responsive">
    <h1 class="text-center display-3 mb-4">Ma ferme virtuelle !</h1>
    
    <button [routerLink]="[ '/formulaire']" class="btn btn-success mb-1">Ajouter un Chouchou!</button>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Type</th>
            <th scope="col">Couleur</th>
            <th scope="col">Âge</th>
            <th scope="col">Détails</th>
            <th scope="col">Opération</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listAnimals; let i = index">
            <td>{{item.name}}</td>
            <td>{{item.type}}</td>
            <td>{{item.color}}</td>
            <td>{{item.age}} ans</td>
            <td>{{item.details}}</td>
            <td>
              <div class="container">
                <div class="row mb-2 d-flex">
                  <a [routerLink]="[ '/show/', item.id]" class="btn btn-info col-lg-5 mr-auto" >Afficher</a>
                  <a [routerLink]="[ '/update/', item.id]" class="btn btn-primary col-lg-6">Mettre à jour</a>
                </div>
                <div class="row">
                  <button type="button" (click)="delete(item.id, i)" class="btn btn-danger col-lg-12">Supprimer</button>
                </div>
              </div>
                
                
                 
                <!-- <button data-target="#myModal" class="btn btn-danger" data-toggle="modal">Supprimer</button>
                
                <div id="myModal" class="modal fade">
                  <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                      <div class="modal-header flex-column">
                        <div class="icon-box">
                          <i class="far fa-times-circle fa-10x"></i>
                        </div>
                        <h4 class="modal-title w-100">Êtes-vous sûr?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      </div>
                      <div class="modal-body">
                        <p>Voulez-vous vraiment supprimer cet animal? Vous ne pourez pas le récuperer.</p>
                      </div>
                      <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Canceller</button>
                        <button type="button" (click)="delete(item.id, i)" class="btn btn-danger" data-dismiss="modal" >Supprimer</button>
                      </div>
                    </div>
                  </div>
                </div>   -->


            </td>
          </tr>
        </tbody>
      </table>
</div>
